<div class="auth-wrapper d-flex no-block justify-content-center align-items-center " style="background-color:#f2f4f8;">
    <div class="auth-box m-3 m-md-0">
        <div id="loginform" [ngClass]="{'d-none': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/login-icon.png" style="height: 35px;" alt="" /></span>
                <h2 class="font-medium m-b-20 mt-2 ">Login</h2>
            </div>
            <!-- Form -->
            <div *ngIf="msg" class="alert alert-danger">Invalid username and password combination, Please try again.</div>
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="form"  (keydown.enter)="onSubmit()" class="form-horizontal m-t-20">
                        <div class="input mb-3">
                            <!-- <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div> -->
                            <form>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [formControl]="form.controls['username']">
                            </form>
                            <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="text-danger support-text">Username is required.</small>
                        </div>
                        <div class="input mb-3 position-relative">
                            <!-- <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div> -->
                            <form>
                            <input [type]="mode?'text':'password'" class="form-control" id="input-pwd" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" [formControl]="form.controls['password']">
                            <span (click)="showPass()" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </form>
                            <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">Password is required.</small>
                        </div>
                        <!-- <div class="input mb-3">
                            <form>
                            <input type="text" class="form-control" placeholder="Tenant"  aria-label="Tenant" aria-describedby="basic-addon1" [formControl]="form.controls['tenant']">
                             </form>
                            <small *ngIf="form.controls['tenant'].hasError('required') && form.controls['tenant'].touched" class="text-danger support-text">Tenant is required.</small>
                        </div> -->

                        <!-- <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox d-flex">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                 
                                    <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-dark font-14 ml-auto"><i class="fa fa-lock m-r-5"></i> Forgot Password?</a>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-info w-100 btn-lg" type="submit" (click)="onSubmit()" [disabled]="!form.valid" *ngIf="!loginSpinner">Login
                        
                                </button>
                                <button class="btn btn-info w-100" type="submit" (click)="onSubmit()" [disabled]="!form.valid" *ngIf="loginSpinner">
                                    <div  class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                </button>
                                <!-- loginform -->
                              
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db mr-2"><img src="assets/images/login-icon.png" alt="" style="height: 35px;" /></span>
                <h5 class="font-medium m-b-20 mt-2 mr-4">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12">
                    <!-- email -->
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" type="email" required="" placeholder="Email">
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-sm btn-block mt-2" type="submit" name="action" href="/authentication/login">Return to login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>