// nav{
//     ul{
//         li{
//             a{
//                 span{
//                     font-weight: 800;
//                     font-size: 20px;
//                     padding-left: 20px;
//                 }
//             }
//         }
//     }
// }
.hidden{
    overflow: clip;
text-overflow: ellipsis;
white-space: nowrap;
margin-right: 35px;
}