<div class="h-100" style="background-color: #f2f4f8;">
<!-- ------------------------------- -->
<!-- File Upload Section (Main Section)----- -->
<!-- ------------------------------- -->
<div class="bg-398bf7 minHeight-100 d-flex align-items-center justify-content-between">
    <h4 class="text-white ml-3 font-weight-bold mb-0">Trillo File Upload</h4>
    <i class="fa fa-power-off mr-3 text-white font-20" data-toggle="tooltip" data-placement="bottom" title="Logout" (click)="FileUploadComponent_Logout()"></i>
</div>
<div *ngIf="bDisplayFilesUploadSection" class="container  mt-5  rounded shadow p-4">
      <div class="row justify-content-start mt-3">
        <div class="col-12">
         <label> Choose a directory or files from your computer.</label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        </div>
        <!-- for single or multiple files -->
        <div *ngIf="bEnableFilesUploadSupport" class="custom-file">
          <input type="file" multiple class="custom-file-input" id="uploadFiles" (change)="FileUploadComponent_FileBrowseHandler($event,fileUploadProgressPopUP)">
          <label class="custom-file-label" for="uploadFiles">Choose file</label>
        </div>
        <!-- for directory -->
        <div *ngIf="bEnabledirectoryUploadSupport" class="custom-file">
          <input type="file"  webkitdirectory class="custom-file-input" id="uploadDirectory" (change)="FileUploadComponent_FileBrowseHandler($event,fileUploadProgressPopUP)">
          <label class="custom-file-label" for="uploadDirectory">Choose file</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Select if you want to choose file or directory mode before clicking on <strong>Browse</strong></label>
        </div>
      </div>
      <!-- enable single or multiple file upload support -->
      <div class="custom-control custom-radio custom-control-inline" >
        <input checked type="radio" id="enableFileUpload" name="fileCategory" class="custom-control-input small-text" value="file" (click)="FileUploadComponent_ToggleFileUploadType($event)">
        <label  for="enableFileUpload"  class="custom-control-label small-text" >File</label>
      </div>
      <!-- enable directory upload support -->
      <div class="custom-control custom-radio custom-control-inline" >
        <input  type="radio" id="enableDirectoryUpload" name="fileCategory" class="custom-control-input small-text" value="directory" (click)="FileUploadComponent_ToggleFileUploadType($event)"   >
        <label  for="enableDirectoryUpload" class="custom-control-label small-text">Directory</label>
      </div>
</div>
<!-- ------------------------------- -->
<!-- Uploaded Files Progress Section -->
<!-- ------------------------------- -->
<div class="card-body">
  <ng-template #fileUploadProgressPopUP let-modal>
    <div class="px-5" >
        <h2 class="text-center mb-4 mt-5">Files Uploaded : {{nLenghtOfFilesArray}} out of {{filesArray.length}} </h2>
          <ngb-progressbar [showValue]="true" type="info" [value]="nLenghtOfFilesArray" [max]="filesArray.length" class="mt-1">
          </ngb-progressbar>
            <div class="border mt-1" *ngIf="filesArray[nLenghtOfFilesArray]?.name">
              <p class="text-break p-2"> <span> File Name : </span> {{filesArray[nLenghtOfFilesArray]?.name}} <strong>Uploading...</strong></p>
            </div>
        <div class="d-flex justify-content-center mt-4 mb-5"> <button class="btn btn-info button"
          (click)="modal.close('Close click')" [disabled]="nLenghtOfFilesArray!==filesArray.length">Done</button></div>
    </div>
  </ng-template>
</div>


</div>