/*-------- drag n drop start -------------------*/

.dnd {
    background-color: #f6f6f6 !important;
      height: 200px;
      border: dashed 1px #979797;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
    }
  
    .dnd input {
      opacity:0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .files-list .single-file img.delete {
      margin-left: 0.5rem;
      cursor: pointer;
      align-self: flex-end;
    
    }
    .files-list .single-file .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
     
    }
    .files-list .single-file .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
  
    }
    .files-list .single-file .info {
      width: 100%
    }
    .files-list .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;
      display: flex;
      flex-grow: 1;
      border-radius: 6px;
    }
  /*-------- drag n drop end -------------------*/
  
  .border-left{
      border-left: 3px solid grey;
      margin: 2% 2% 0% 2%;
  }
  #first-container{
      /* background-color: #ffffff; */
      margin: 2% 1% 1% 2%;
      /* border-radius: 5px;   */
  }
  .upload-div{
    padding: .5%;
  }
  p{
      font-size: 20px;
  }
  .shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.08)!important;
  }
  .disableKeyTermsInput, .input-tag {
    border: none;
    background:#ffffff !important; 
    }
    .keyTerms{
      background:#fff;
    }
    .editor-tag {
      cursor: text;
      font-size: 16px;
      /* padding: 10px 0px 10px 10px; */
      border-radius: 5px;
      background: white;
    }
    .editor-tag .tag-item {
      border-radius: 14px;
      height: auto;
      font-size: 17px;
      display: inline-block;
      background: #398bf7 ;
      padding-left: 7px;
      color: white;
    }
    .editor-tag .tag-item .remove-tag {
      padding-right: 5px;
      cursor: pointer;
    }
    .editor-tag .tag-item:not(:first-child) {
      margin-left: 5px;
    }
  textarea,.head-inform, .disableKeyTerms, .editor-tag {
    border: 2px solid #00cecb !important;
    margin-bottom: 0px !important;
    }
    .disableKeyTerms{
      background:#f3f4f4 !important; 
    }
     .disableKeyTermsInput, .input-tag {
      border: none;
      background:#ffffff !important; 
      }
      /* first container height scroll */
  
      .height1{
        max-height: 30vh;
      overflow-y: scroll;
      }
      input[type=file]{
        opacity: 0;
      }
      .font h3{
        font-size: 14px !important;
      }
  
      .outline:hover{
        background-color: #fff;
        color: #398bf7 !important;
      }
  /* Second container style */
  .height{
      max-height: 100vh;
      overflow-y: scroll;
  }
  .upload-btn-div{
      background-color:#fff;
      border:#a4a4a4;
  }
  .upload-div-text{
      font-weight: 600;
      color: rgb(29, 100, 16);
  }
  .info-icon
  {
    position: absolute;
    top: 13px;
    right: 20px;
  }
  #info-icon{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .dnd-area{
    line-height: .5;
  }
  .upload-progress{
    color:red !important
  }
  .warning{
    border:2px solid #ff0000 !important;
  }
  .required{
    border:2px solid #00cecb !important;
  }
  .design{
    width: 40%;
    border-radius: 20px;
  }
  .button{
    border-radius: 5px;
  }
  .border{
    margin-top: 8px;
    border: 4px solid black;
    border-radius: 5px;
  }
  